<a href="https://colab.research.google.com/github/ithiagojs/Dados_colab/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

# Carregamento de dados

identificação de dados
- datas
- valores negativos
- datatype

In [ ]:
df_customer = pd.read_csv("/content/customers_data.csv")
df_carbon = pd.read_csv("/content/carbon_offsets.csv")
df_rentals = pd.read_json("/content/rentals_data.json")
df_vehicles = pd.read_json("/content/vehicles_data.json")

In [ ]:
# pre analise de dados
# comandos importantes
# .info()
# .head()
# .columns

df_customer.info()
df_customer.head()
df_customer.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customer_id    4 non-null      object
 1   customer_type  4 non-null      object
 2   age            3 non-null      float64
 3   city           4 non-null      object
 4   loyalty_score  4 non-null      int64
dtypes: float64(1), int64(1), object(3)
memory usage: 292.0+ bytes

Index(['customer_id', 'customer_type', 'age', 'city', 'loyalty_score'], dtype='object')

In [ ]:
df_carbon.info()
df_carbon.head()
df_carbon.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   year                2 non-null      int64
 1   carbon_offset_tons  2 non-null      int64
 2   cost_usd            2 non-null      int64
dtypes: int64(3)
memory usage: 180.0 bytes

Index(['year', 'carbon_offset_tons', 'cost_usd'], dtype='object')

In [ ]:
df_rentals.info()
df_rentals.head()
df_rentals.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   rental_id    5 non-null      int64
 1   customer_id  5 non-null      object
 2   vehicle_id   5 non-null      object
 3   start_date   5 non-null      object
 4   end_date     5 non-null      object
 5   city         5 non-null      object
 6   daily_rate   5 non-null      int64
 7   distance_km  5 non-null      int64
dtypes: int64(3), object(5)
memory usage: 452.0+ bytes

Index(['rental_id', 'customer_id', 'vehicle_id', 'start_date', 'end_date',
       'city', 'daily_rate', 'distance_km'],
      dtype='object')

In [ ]:
df_vehicles.info()
df_vehicles.head()
df_vehicles.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   vehicle_id    5 non-null      object
 1   model         5 non-null      object
 2   fuel_type     5 non-null      object
 3   co2_g_per_km  4 non-null      float64
 4   category      5 non-null      object
dtypes: float64(1), object(4)
memory usage: 332.0+ bytes

Index(['vehicle_id', 'model', 'fuel_type', 'co2_g_per_km', 'category'], dtype='object')

# Correção

In [ ]:
# customers - age - valor ausente
media_idade = df_customer['age'].mean()
df_customer['age'] = df_customer['age'].fillna(media_idade)
display(df_customer)

In [ ]:
# rentals - daily_rate com valor < 0

df_rentals.loc[df_rentals['daily_rate'] <=0, 'daily_rate'] = pd.NA

In [ ]:
# vehicles - co2_g_per_km dado ausente

df_vehicles['co2_g_per_km'] = df_vehicles['co2_g_per_km'].fillna(120)

In [ ]:
# rentals - daily_rate está como string

df_rentals['daily_rate'] = pd.to_numeric(df_rentals['daily_rate'], errors='coerce')

In [ ]:
# retals - data invalida

df_rentals['start_date'] = pd.to_datetime(df_rentals['start_date'], errors='coerce')
df_rentals['end_date'] = pd.to_datetime(df_rentals['end_date'], errors='coerce')

In [ ]:
# retals - data com formatação diferente

df_rentals['start_date'] = pd.to_datetime(df_rentals['start_date'], format='%Y-%m-%d')
df_rentals['end_date'] = pd.to_datetime(df_rentals['end_date'], format='%Y-%m-%d')

# Engenharia de dados
- calcule a duração de cada locação (em dias)
- calcule a receita total por locação
- faça o merge com a base de veiculos.
- calcule a emissao de CO² por locação
- extraia ano e mes da data de inicio de locação

In [ ]:
# criar backup de dados
df_carbon_clean = df_carbon
df_customer_clean = df_customer
df_rentals_clean = df_rentals
df_vehicles_clean = df_vehicles

In [ ]:
df_rentals_clean['dias_locação'] = (
    df_rentals_clean['end_date'] - df_rentals_clean['start_date']
).dt.days

In [ ]:
# calcule a receita total por locação
# valor da diaria = daily_rate

df_rentals_clean['receita_total'] = df_rentals_clean['dias_locação'] * df_rentals_clean['daily_rate']

In [ ]:
# faça o merge com a base de veiculos
df_consolidado = df_rentals_clean.merge(df_vehicles_clean, on='vehicle_id')

# adicionando cliente no merge
df_consolidado = df_consolidado.merge(df_customer_clean, on='customer_id')

In [ ]:
# calcule a emissao de CO² por locação

df_consolidado['co2_emitido'] = df_consolidado['co2_g_per_km'] * df_consolidado['distance_km']

In [ ]:
# extraia ano e mes da data de inicio da locação
# para extrair informações da data temos
# .dt.day - dia
# .dt.month - mes
# .dt.year - ano
# .dt.weekday - dia da semana

df_consolidado['mes'] = df_consolidado['start_date'].dt.month
df_consolidado['ano'] = df_consolidado['start_date'].dt.year
df_consolidado['dia_semana'] = df_consolidado['start_date'].dt.weekday